$color_1: white;
$color_2: black;
$color_3: #ff4081;
$color_4: #e91e63;
$background-color_1: #001f3f;
$background-color_2: #bda0ff;
$background-color_3: #003f7f;
$background-color_4: #ad93ec;

.field {
    display: flex;
    align-items: center;
    margin-bottom: 8px;
}

.statusText {
    margin: 0 10px;
}

.icon {
    color: $color_3;
    cursor: pointer;
    transition: color 0.2s;

    &:hover {
        color: $color_4;
    }
}

.input {
    flex: 1;
    padding: 8px;
    border: none;
    border-radius: 5px;
    outline: none;
    margin-left: 8px;

    &.dark {
        background-color: $background-color_3;
        color: $color_1;
    }

    &.light {
        background-color: $background-color_4;
        color: $color_2;
    }
}
