// src/Components/DialogItem/DialogItem.module.scss

/* Общие стили для компонента DialogItem */
.dialogItem {
  background-color: #ffffff;
  padding: 15px;
  margin-bottom: 10px;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: background-color 0.3s ease, color 0.3s ease, box-shadow 0.3s ease;
  cursor: pointer;

  &:hover {
      box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
  }
}

/* Стили для ссылки */
.link {
  text-decoration: none;
}

/* Стили для информации о диалоге */
.info {
  display: flex;
  flex-direction: column;
}

/* Стили для имени пользователя */
.username {
  font-size: 16px;
  font-weight: bold;
  color: #333333;
  display: flex;
  align-items: center;
  gap: 10px;
}

/* Стили для даты */
.date {
  font-size: 12px;
  color: #777777;
  display: flex;
  align-items: center;
  gap: 5px;
}

/* Стили для иконок */
.icon {
  color: #888888;
  font-size: 18px;
}

/* Стили для темной темы */
.dark {
  background-color: #2e2e2e;
  color: #f1f1f1;
}

.dark .username {
  color: #f1f1f1;
}

.dark .date {
  color: #bbbbbb;
}

.dark .icon {
  color: #bbbbbb;
}

/* Стили для светлой темы */
.light {
  background-color: #ffffff;
  color: #333333;
}

.light .username {
  color: #333333;
}

.light .date {
  color: #777777;
}

.light .icon {
  color: #888888;
}

/* Стили для загрузки */
.loading {
  text-align: center;
  font-size: 16px;
  color: #888888;
}
