.dialogPage {
  display: flex;
  flex-direction: column;
  height: 100vh;
  padding: 20px;
  background-color: var(--bg-color);
  color: var(--text-color);
}

.messagesContainer {
  flex-grow: 1;
  overflow-y: auto;
  padding: 10px;
  border-radius: 10px;
  margin-bottom: 20px;
}

.message {
  display: flex;
  align-items: center;
  margin-bottom: 15px;
  padding: 10px;
  border-radius: 10px;
  background-color: var(--message-bg);
  color: var(--text-color);
  position: relative;
}

.messageIcon {
  margin-right: 10px;
}

.author {
  font-weight: bold;
}

.content {
  margin-left: 5px;
  color: var(--message-content-color);
}

.inputForm {
  display: flex;
  align-items: center;
  padding: 10px;
  border-top: 1px solid var(--border-color);
}

.inputField {
  flex-grow: 1;
  padding: 10px;
  border-radius: 20px;
  margin-right: 10px;
  border: 1px solid #ccc;
  background-color: var(--input-bg);
  color: var(--input-text-color);
  font-size: 16px;
}

.sendButton {
  padding: 10px 20px;
  border-radius: 20px;
  background-color: #27ae60;
  color: white;
  font-size: 16px;
  cursor: pointer;
  display: flex;
  align-items: center;
  transition: background-color 0.3s ease;
}

.sendButton:hover {
  background-color: #2ecc71;
}

.sendIcon {
  margin-left: 5px;
}

.light {
  --bg-color: #ffffff;
  --text-color: #333;
  --message-bg: #f7f7f7;
  --message-content-color: #555;
  --input-bg: #f0f0f0;
  --input-text-color: #333;
  --border-color: #ddd;
}

.dark {
  --bg-color: #333;
  --text-color: #fff;
  --message-bg: #444;
  --message-content-color: #ccc;
  --input-bg: #555;
  --input-text-color: #fff;
  --border-color: #666;
}
